.node-red/data/flows.json
[
    {
        "id": "87f0629c503e56cd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f269ad3f0c8a7866",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "broker",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "be80048.8f232f8",
        "type": "mqtt in",
        "z": "87f0629c503e56cd",
        "name": "Message from challenge3/id_generator",
        "topic": "challenge3/id_generator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f269ad3f0c8a7866",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "3658587a2c4ef277"
            ]
        ]
    },
    {
        "id": "42ecc01a5bd0645a",
        "type": "inject",
        "z": "87f0629c503e56cd",
        "name": "Every 5 seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "de6b0c746b109e9b"
            ]
        ]
    },
    {
        "id": "b1f6cdaffbdbce80",
        "type": "csv",
        "z": "87f0629c503e56cd",
        "name": "Format CSV",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "No.,ID,TIMESTAMP",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "b8d2e93bea994708"
            ]
        ]
    },
    {
        "id": "b8d2e93bea994708",
        "type": "file",
        "z": "87f0629c503e56cd",
        "name": "Save to id_log.csv",
        "filename": "/files/id_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 890,
        "y": 280,
        "wires": [
            [
                "c9d33fd484c5b5b6"
            ]
        ]
    },
    {
        "id": "de6b0c746b109e9b",
        "type": "function",
        "z": "87f0629c503e56cd",
        "name": "Generate ID & Timestamp",
        "func": "let count = context.get('count') || 0;\ncount += 1;\ncontext.set('count', count);\n\nlet id = Math.floor(Math.random() * 30000);\nlet timestamp = msg.payload\n\nmsg.payload = {id, timestamp, };\n\nmsg.csv = {\n    \"No.\": count,\n    \"ID\": id,\n    \"TIMESTAMP\": msg.payload.timestamp\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "d4e9d3c5.9a3c58",
                "9694a64da7377d64"
            ]
        ]
    },
    {
        "id": "d4e9d3c5.9a3c58",
        "type": "mqtt out",
        "z": "87f0629c503e56cd",
        "name": "Publish to challenge3/id_generator",
        "topic": "challenge3/id_generator",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f269ad3f0c8a7866",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "9694a64da7377d64",
        "type": "change",
        "z": "87f0629c503e56cd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "csv",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "b1f6cdaffbdbce80"
            ]
        ]
    },
    {
        "id": "c9d33fd484c5b5b6",
        "type": "debug",
        "z": "87f0629c503e56cd",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "inject-reset",
        "type": "inject",
        "z": "87f0629c503e56cd",
        "name": "Initial flow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "file-reset"
            ]
        ]
    },
    {
        "id": "file-reset",
        "type": "file",
        "z": "87f0629c503e56cd",
        "name": "Clear id_log.csv",
        "filename": "/files/id_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3658587a2c4ef277",
        "type": "function",
        "z": "87f0629c503e56cd",
        "name": "ID modulo 7711",
        "func": "msg.index = (msg.payload.id % 7711)\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "b8bada96dc61908c"
            ]
        ]
    },
    {
        "id": "b8bada96dc61908c",
        "type": "file in",
        "z": "87f0629c503e56cd",
        "name": "Read challenge3.csv",
        "filename": "/files/challenge3.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "a6867d70a032e0d3"
            ]
        ]
    },
    {
        "id": "a6867d70a032e0d3",
        "type": "csv",
        "z": "87f0629c503e56cd",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "No.,Time,Source,Destination,Protocol,Length,Source Port,Destination Port,Info,Payload",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "d483765df6d2adf3"
            ]
        ]
    },
    {
        "id": "d483765df6d2adf3",
        "type": "function",
        "z": "87f0629c503e56cd",
        "name": "Get frame",
        "func": "\nmsg.payload = msg.payload[msg.index - 1]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "eaba2ec243a7ae22",
        "type": "delay",
        "z": "87f0629c503e56cd",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 580,
        "wires": [
            []
        ]
    }
]