challenge-3/.data/node-red/data/flows.json
[
    {
        "id": "87f0629c503e56cd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f269ad3f0c8a7866",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "broker",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "be80048.8f232f8",
        "type": "mqtt in",
        "z": "87f0629c503e56cd",
        "name": "id_generator",
        "topic": "challenge3/id_generator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f269ad3f0c8a7866",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "8640b8ff.f82ff8"
            ]
        ]
    },
    {
        "id": "8640b8ff.f82ff8",
        "type": "debug",
        "z": "87f0629c503e56cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "42ecc01a5bd0645a",
        "type": "inject",
        "z": "87f0629c503e56cd",
        "d": true,
        "name": "Every 5 seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "de6b0c746b109e9b"
            ]
        ]
    },
    {
        "id": "b1f6cdaffbdbce80",
        "type": "csv",
        "z": "87f0629c503e56cd",
        "name": "Format CSV",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "No.,ID,TIMESTAMP",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "b8d2e93bea994708"
            ]
        ]
    },
    {
        "id": "b8d2e93bea994708",
        "type": "file",
        "z": "87f0629c503e56cd",
        "name": "Save to id_log.csv",
        "filename": "/output/id_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "c9d33fd484c5b5b6"
            ]
        ]
    },
    {
        "id": "de6b0c746b109e9b",
        "type": "function",
        "z": "87f0629c503e56cd",
        "name": "Generate ID & Timestamp",
        "func": "// Initialize counter\nlet count = context.get('count') || 0;\ncount += 1;\ncontext.set('count', count);\n\n// Generate random ID (0-30000)\nlet id = Math.floor(Math.random() * 30001);\n\n// Get timestamp\nlet timestamp = msg.payload\n\n// Create payload\nmsg.payload = {id, timestamp, };\n\n// Create CSV data\nmsg.csv = {\n    \"No.\": count,\n    \"ID\": id,\n    \"TIMESTAMP\": msg.payload.timestamp\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "d4e9d3c5.9a3c58",
                "9694a64da7377d64"
            ]
        ]
    },
    {
        "id": "d4e9d3c5.9a3c58",
        "type": "mqtt out",
        "z": "87f0629c503e56cd",
        "name": "Publish to challenge3/id_generator",
        "topic": "challenge3/id_generator",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f269ad3f0c8a7866",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "9694a64da7377d64",
        "type": "change",
        "z": "87f0629c503e56cd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "csv",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "b1f6cdaffbdbce80"
            ]
        ]
    },
    {
        "id": "c9d33fd484c5b5b6",
        "type": "debug",
        "z": "87f0629c503e56cd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-reset",
        "type": "inject",
        "z": "87f0629c503e56cd",
        "name": "Reset File",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "file-reset"
            ]
        ]
    },
    {
        "id": "file-reset",
        "type": "file",
        "z": "87f0629c503e56cd",
        "name": "Overwrite id_log.csv",
        "filename": "/output/id_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 360,
        "y": 620,
        "wires": [
            []
        ]
    }
]