challenge-3/node-red_examples/node-red-shell_solution.txt
[{"id":"984e9665.14fe58","type":"debug","z":"a54a2528.803328","name":"","active":true,"console":"true","complete":"true","x":790.0000076293945,"y":267.1428527832031,"wires":[]},{"id":"ea0e5053.a54a98","type":"serial in","z":"a54a2528.803328","name":"","serial":"3557399.2dafcc6","x":75,"y":358.64285373687744,"wires":[["7904173d.969fd8"]]},{"id":"7904173d.969fd8","type":"function","z":"a54a2528.803328","name":"SerialParser","func":"var newMsg = msg;\nvar bytes_array = []\nvar bytes_received = msg.payload.length;\n\nif(bytes_received>1){\n\n    for(var i=0;i<msg.payload.length;i++){\n\t    bytes_array.push(msg.payload[i]);\n    }\n\n    tinyos_payload = bytes_array.slice(9,-3);\n    var byte_payload = new Buffer(tinyos_payload.length);\n    for(var i=0;i<tinyos_payload.length;i++){\n\t\tbyte_payload[i] = tinyos_payload[i];    \n    }\n    var counter = byte_payload.readUInt32BE(0,true);\n    var s1 = byte_payload.readUInt16BE(4)\n    var s2 = byte_payload.readUInt16BE(6)\n    var s3 = byte_payload.readUInt16BE(8)\n    var s4 = byte_payload.readUInt16BE(10)\n    var s5 = byte_payload.readUInt16BE(12)\n\n    msg.counter = counter;\n    msg.raw_temp = s1;\n    msg.raw_hum = s2;\n    msg.raw_tsr = s3;\n    msg.raw_par = s4;\n    msg.raw_volt = s5;\n\n    return [msg];    \n}\nelse\n    return [null];","outputs":"1","noerr":0,"x":231.24999618530273,"y":358.3928508758545,"wires":[["b9cb9dcc.7cd11"]]},{"id":"b9cb9dcc.7cd11","type":"function","z":"a54a2528.803328","name":"DataConversion","func":"var raw_temp = msg.raw_temp;\nvar raw_volt = msg.raw_volt;\nvar raw_hum = msg.raw_hum;\nvar raw_lum = msg.raw_tsr;\n\nvar temperature = 0.01*raw_temp-39.6;\nvar voltage = raw_volt/4096*3;\nvar humidity = (-4 +0.0405*(raw_hum))+(-0.0000028*Math.pow(raw_hum,2));\nvar lux = 2.5*((raw_lum)/4096)*6250;\n\nmsg.temperature = temperature;\nmsg.voltage = voltage;\nmsg.humidity = humidity;\nmsg.lux = lux; \n\nreturn msg;","outputs":1,"noerr":0,"x":399.74999618530273,"y":358.6428508758545,"wires":[["f14ff640.d57b98"]]},{"id":"db20139a.10aa","type":"http request","z":"a54a2528.803328","name":"","method":"GET","ret":"txt","url":"","tls":"","x":781.7500076293945,"y":358.39285469055176,"wires":[[]]},{"id":"f14ff640.d57b98","type":"function","z":"a54a2528.803328","name":"CreateHttpRequest","func":"var API_KEY = \"92B1R1G9K62NLOB3\"\n\nvar newmsg = {};\nnewmsg.url = \"https://api.thingspeak.com/update?api_key=\" + API_KEY \n+ \"&field1=\" + msg.temperature + \"&field2=\" + msg.humidity + \"&field3=\" + msg.lux + \"&field4=\" + msg.voltage;\nreturn newmsg;\n","outputs":1,"noerr":0,"x":583.5000038146973,"y":359.1428565979004,"wires":[["db20139a.10aa","984e9665.14fe58"]]},{"id":"3557399.2dafcc6","type":"serial-port","z":"a54a2528.803328","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"~","bin":"bin","out":"char","addchar":false}]
